<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="main-content surveys">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">

        <div class="card" *ngIf="!isLoading">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Meine Umfragen ({{surveys.length}})</h4>
            <p class="category"></p>
          </div>
          <div class="card-content">
            <table class="table">
              <thead class="thead-default">
              <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody *ngIf="surveys.length === 0">
              <tr>
                <td colspan="4">Sie haben noch keine Umfragen erstellt.</td>
              </tr>
              </tbody>
              <tbody>
              <tr *ngFor="let survey of surveys">
                <td>{{survey.name}}</td>
                <td>{{survey.description}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="enableEditing(survey)"><i class="fa fa-pencil"></i> Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="deleteSurvey(survey)"><i class="fa fa-trash"></i> Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="isEditing">
          <div class="card-content">
            <form class="" #form="ngForm" (ngSubmit)="editSurvey(survey)" style="display:inline">

              <div class="row">
                <div class="form-group col-md-4">
                  <input class="form-control" type="text" name="name" [(ngModel)]="survey.name" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6">
                  <input class="form-control" type="text" name="description" [(ngModel)]="survey.description" placeholder="Beschreibung" required>
                </div>
              </div>

              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>

            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
