<div class="main-content register">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <app-toast [message]="toast.message"></app-toast>

        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="fa fa-user-plus"></i>
          </div>
          <div class="card-content">
            <a [routerLink]="['/login']" class="category">Haben Sie bereits ein Konto?</a>
            <h3 class="title">Register</h3>
          </div>
          <div class="card-footer">
            <div class="stats col-md-8 col-sm-12 col-xs-12">
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="input-group form-group label-floating is-empty" [ngClass]="{ 'has-danger': !this.username.pristine && !username.valid }">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <label class="control-label">Username</label>
                  <input class="form-control" type="text" name="username" formControlName="username" autofocus>
                </div>
                <div class="input-group form-group label-floating is-empty" [ngClass]="{ 'has-danger': !email.pristine && !email.valid }">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <label class="control-label">Email</label>
                  <input class="form-control" type="email" name="email" formControlName="email">
                </div>
                <div class="input-group form-group label-floating is-empty" [ngClass]="{ 'has-danger': !password.pristine && !password.valid }">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <label class="control-label">Passwort</label>
                  <input class="form-control" type="password" name="password" formControlName="password">
                </div>
                <div class="input-group form-group label-floating is-empty">
                  <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
                  <select class="form-control" name="role" formControlName="role">
                    <option value="" selected disabled>Role</option>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
