.survey-create {

  form {
    padding: 0 24px;
    margin-bottom: 24px;
  }

  h3 {
    padding-top: 24px;
    padding-left: 24px;
  }

  .btn {
    i.with-label {
      padding-right: 4px;
    }
  }

  .answer-label {
    padding-left: 8px;
  }

  .icon-action {
    padding: 4px;
  }

  .table > tbody > tr > td, .table > tbody > tr > th {
    vertical-align: top;
  }

}
