<div class="main-content">

  <app-toast [message]="toast.message"></app-toast>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">

          <div class="card-header" data-background-color="blue">
            <h4 class="title">Edit Profile</h4>
            <p class="category">Complete your profile</p>
          </div>
          <div class="card-content">
            <app-loading [condition]="isLoading"></app-loading>

            <form #accountForm="ngForm" (ngSubmit)="save(user)">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.username}">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="user && user.username" required>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.email}">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="user && user.email" readonly>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.firstname}">
                    <label class="control-label">Vorname</label>
                    <input type="text" class="form-control" name="firstname" [(ngModel)]="user && user.firstname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.lastname}">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" name="lastname" [(ngModel)]="user && user.lastname">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.address}">
                    <label class="control-label">Adresse</label>
                    <input type="text" class="form-control" name="address" [(ngModel)]="user && user.address">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.city}">
                    <label class="control-label">Stadt</label>
                    <input type="text" class="form-control" name="city" [(ngModel)]="user && user.city">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.country}">
                    <label class="control-label">Land</label>
                    <input type="text" class="form-control" name="country" [(ngModel)]="user && user.country">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.plz}">
                    <label class="control-label">Postleitzahl</label>
                    <input type="text" class="form-control" name="plz" [(ngModel)]="user && user.plz">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group form-black label-floating" [ngClass]="{'is-empty':!user?.description}">
                      <textarea class="form-control" rows="5" name="description" [(ngModel)]="user && user.description"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary pull-right" [disabled]="!accountForm.form.valid">
                Speichern</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#">
              <!--img class="img" src="../assets/img/faces/marc.jpg" /-->
              <i class="material-icons" style="font-size: 13rem">face</i>
            </a>
          </div>

          <div class="content">
            <h6 class="category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-content">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <!--a href="#pablo" class="btn btn-danger btn-round">Follow</a-->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
